{% extends "blog\base.html" %}
{% load static %}
{% block content %}
{% if post_id %}
    <div class="card mb-3">
        <br>
        <img width="300" height="200" src="{% static "img/pollo-guisado-con-verduras-receta.jpg" %}" class="ounded float-left" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ post_id.title }}</h5>
            <h3>Publicado: {{post_id.published_date }} </h3>
            <p class="card-text">{{ post_id.text|linebreaksbr}}</p>
            <p class="card-text"><small class="text-muted">Creado: {{ post_id.created_date }}</small></p>
            <a class="btn btn-primary" href="{% url 'index' %}"> Volver </a>
        </div>
    </div>
{% else %}
    <p> No se detecto datos </p>
{% endif %}
{% endblock %}